.App {
	width: 100vw;
	height: 100vh;
	display: flex;
}

.wrapper {
	margin-top: 0;
	overflow-x: hidden;
}

.top {
	display: flex;
	margin-bottom: 4em;
	background-color: #000;
	flex-wrap: wrap;
	width: 100vw;
}

.intro {
	flex: 0 0 600px;
	text-align: center;
	color: #fff;
	padding-top: 40px;
	padding:20px;
	flex-flow: column nowrap;
	justify-content: space-between;
}

.map {
	flex: 1 0 48%;
}